@tailwind base;
@tailwind components;
@tailwind utilities;

:root{ 
  color-scheme: light; 
  --sidebar-width: 300px;
}
::-webkit-scrollbar{ width:10px; height:10px; }
::-webkit-scrollbar-thumb{ background:#e5e7eb; border-radius:999px; }
